body {
  background-color: #eb6e3d;
  font-family: sans-serif;
  text-align: left;
  padding: 50px;
  margin: 0;
}

h1 {
  color: #fcaf83;
}

p {
    color: rgb(253, 224, 189);
}

footer {
  margin-top: 100px;
  padding: 20px;
  background-color: #d35424;
  color: white;
  font-size: 14px;
}

footer a {
  color: #ffe0c0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

button {
  height: 30px;
  width: 80px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
